body {
  	background-color: #FAFAD2;
  	font-family: "Times New Roman", Georgia, Serif;
  	color: 	#00008B;
  }

  input[type="text"] {
  	background-color: 	#D3D3D3;
  }

  form {
  	 width: 50%;
  	 margin-right:auto;
  	  margin-left:auto;"

  }

  input {		
		margin-bottom: 5px;
	}

  h1, h2 {
  	color: #00FF00;
  }


  label {
  	color: #00CED1;
  	font-size:15pt;
  }

  button.btn{
  	background-color: #00FF00 !important;
  }
